In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [8]:
spark = SparkSession.builder \
    .appName('PySpark Exercises Chapter 01') \
    .getOrCreate()

spark

In [5]:
words = spark.read.text('./data/gutenberg_books/1342-0.txt') \
    .select(F.split(F.col('value'), ' ').alias('line')) \
    .select(F.explode(F.col('line')).alias('word')) \
    .select(F.lower(F.col('word')).alias('word_lower')) \
    .select(F.regexp_extract(F.col('word_lower'), '[a-z]+', 0).alias('word_cleaned')) \
    .where(F.col('word_cleaned') != '')

words.show()

+------------+
|word_cleaned|
+------------+
|         the|
|     project|
|   gutenberg|
|       ebook|
|          of|
|       pride|
|         and|
|   prejudice|
|          by|
|        jane|
|      austen|
|        this|
|       ebook|
|          is|
|         for|
|         the|
|         use|
|          of|
|      anyone|
|    anywhere|
+------------+
only showing top 20 rows

#### Exercise 2.5. a) Remove all of the occurrences of the word is.

In [52]:
words.where(F.col('word_cleaned') == 'is').count()

884

In [53]:
words_non_is = words.where(F.col('word_cleaned') != 'is')

words_non_is.where(F.col('word_cleaned') == 'is').count()

0

#### Exercise 2.5. b) (Challenge) Using the length function, keep only the words with more than three characters.

In [54]:
words.where(F.length(F.col('word_cleaned')) > 3).show()

+------------+
|word_cleaned|
+------------+
|     project|
|   gutenberg|
|       ebook|
|       pride|
|   prejudice|
|        jane|
|      austen|
|        this|
|       ebook|
|      anyone|
|    anywhere|
|        cost|
|        with|
|      almost|
|restrictions|
|  whatsoever|
|        copy|
|        give|
|        away|
|       under|
+------------+
only showing top 20 rows

#### Exercise 2.6 Letâ€™s say you want to remove the words is , not , the and if from your list of words, using a single where() method on the words_nonull data frame. Write the code to do so.

In [55]:
words_to_be_removed = ['is', 'not', 'the', 'if']

words.where(F.col('word_cleaned').isin(words_to_be_removed)).count()

7192

In [56]:
words_2_6 = words.where(~F.col('word_cleaned').isin(words_to_be_removed))

words_2_6.where(F.col('word_cleaned').isin(words_to_be_removed)).count()

0